.bfb1{height:632px;background:url(img/bg.jpg) center top no-repeat;}
.yjcode .mtm{float:left;width:1150px;text-align:left;}
.yjcode .mtm .u1{float:left;width:1150px;}
.yjcode .mtm .u1 li{float:left;}
.yjcode .mtm .u1 .l1{padding:290px 0 0 115px;width:230px;}
.yjcode .mtm .u1 .l2{margin:330px 0 0 0;width:550px;font-size:18px;font-weight:700;font-family:Arial, Helvetica, sans-serif;}
.yjcode .mtm .u1 .l2 a:hover{text-decoration:none;color:#000;}

.bottomy{margin:0;}